@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
    font-family: 'Noto Sans KR', sans-serif;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #2A9BF4;
    -ms-overflow-style: none;
}
a{
    text-decoration: none;
    color:white;
}
::-webkit-scrollbar{
    display: none;
}
.abso{
    position:absolute;
    font-size: 20px;
    color:#fff;
}
.abso:hover{
    cursor: pointer;
}
.abso-home{
    top:22px;
    left:40px;
}
.home{
    display: inline-block;
    position: relative;
    padding-bottom:1px;
}
.home::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.home:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.abso-about{
    top:30px;
    right:35px;
}
.about{
    writing-mode:vertical-lr;
    text-orientation: upright;
    letter-spacing:2px;
    display: inline-block;
    position: relative;
}
.about::after{
    content:'';
    position: absolute;
    height: 100%;
    transform: scaleY(0);
    width: 2px;
    top: 0;
    left: 0;
    background-color:rgb(255, 255, 255);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.about:hover::after{
    transform: scaleY(1);
    transform-origin: top left;
}
.abso-pro{
    bottom:31px;
    right:40px;
}
.project{
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
}
.project::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:2px;
    top:0;
    left:0;
    background-color: white;
    transform-origin: top left;
    transition: transform 0.25s ease-out;
}
.project:hover::after{
    transform: scaleX(1);
    transform-origin: top right;
}
.abso-con{
    bottom:31px;
    left:35px;
}
.contact{
    writing-mode:vertical-lr;
    text-orientation:upright;
    letter-spacing:2px;
    display:inline-block;
    position:relative;
}
.contact::after{
    content:'';
    position:absolute;
    height:100%;
    transform: scaleY(0);
    width:2px;
    top:0;
    right:0;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.contact:hover::after{
    transform: scaleY(1);
    transform-origin: top right;
}
.droppage{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.container{
    position: relative;
    /* min-height: 100vh; */
    padding:50px 0;
}
.drop{
    position:relative;
    width:400px;
    height:400px;
    /* box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05), inset -20px -20px 25px rgba(255,255,255,0.9); */
    box-shadow: 25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05), inset 20px 20px 20px rgba(0,0,0,0.05), inset -20px -20px 40px rgba(255,255,255,0.6);
    border-radius: 52% 48% 56% 44% / 53% 37% 63% 47% ;
    animation: morph 10s ease-in-out infinite;
}
.wdrop{
    position:absolute;
    background-color: white;
    border-radius: 100%;
}
.wdrop1{
    top:20%;
    left:20%;
    width:35px;
    height:35px;
}
.wdrop2{
    top:29%;
    left:29%;
    width:20px;
    height:20px;
}
/* @keyframes morph {
    0%{
        border-radius: 52% 48% 56% 44% / 53% 37% 63% 47% ;
    }
    17%{
        border-radius: 24% 76% 34% 66% / 22% 50% 50% 78% ;
    }
    37%{
        border-radius: 56% 44% 41% 59% / 37% 72% 28% 63% ;
    }
    57%{
        border-radius: 61% 39% 54% 46% / 75% 36% 64% 25% ;
    }
    77%{
        border-radius: 85% 15% 42% 58% / 67% 13% 87% 33% ;
    }
    100%{
        border-radius: 52% 48% 56% 44% / 53% 37% 63% 47% ;
    }
} */

@keyframes morph {
    0%{
        border-radius:50% 50% 50% 50% / 50% 50% 50% 50% ;
    }
    20%{
        border-radius:59% 41% 63% 37% / 55% 59% 41% 45% ;
    }
    40%{
        border-radius:37% 63% 46% 54% / 39% 43% 57% 61% ;
    }
    60%{
        border-radius:40% 60% 44% 56% / 55% 47% 53% 45% ;
    }
    80%{
        border-radius:54% 46% 39% 61% / 44% 54% 46% 56% ;
    }
    100%{
        border-radius:50% 50% 50% 50% / 50% 50% 50% 50% ;
    }
}